[submodule "Logging-and-Monitoring"]
	path = Logging-and-Monitoring
	url = https://github.com/FisnikL/Logging-and-Monitoring.git
[submodule "soa-service-registry-discovery"]
	path = soa-service-registry-discovery
	url = https://github.com/vblazhes/soa-service-registry-discovery.git
[submodule "ServerHelper-ClientApp"]
	path = ServerHelper-ClientApp
	url = https://github.com/NHristovski/ServerHelper-ClientApp/
[submodule "referral"]
	path = referral
	url = https://github.com/kirca97/referral.git
[submodule "kong-konga-keycloak"]
	path = kong-konga-keycloak
	url = https://github.com/DimoskiBojan/kong-konga-keycloak
[submodule "soa-mqtt"]
	path = soa-mqtt
	url = https://github.com/vblazhes/soa-mqtt
